.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.left{
  /* width:40%; */
  flex: 1 1 40%;
  background-color: #35538f;
  position: relative;
}

.right{
  /* width:60%; */
  flex: 1 1 60%;
  background-color: #e8eaec;
}

.face_logo{
  width:50px;
  height: 50px;
  border-radius: 50;
  background-color: #152e47;
  position: absolute;
  top:50px;
  left:-50px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #35538f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
